@import url("https://fonts.googleapis.com/css?family=Merriweather|PT+Sans|Roboto+Slab");
.footer {
  background-color: #7995ad;
  text-align: center;
  padding: 20px 5%;
  height: 8em; }

@media screen and (max-width: 1200px) {
  .footer {
    height: auto !important; } }

i {
  border: solid #99b5ce;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 3.2px;
  margin-left: 4px; }

.point-right {
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: visible;
  display: block;
  height: 3.6em;
  background-color: #1662a2;
  position: sticky;
  top: 0px;
  z-index: 1000;
  -webkit-box-shadow: 0px 2px 8px 2px rgba(154, 152, 152, 0.3);
  -moz-box-shadow: 0px 2px 8px 2px rgba(154, 152, 152, 0.3);
  box-shadow: 0px 2px 8px 2px rgba(154, 152, 152, 0.3); }
  ul.topnav li {
    float: left; }
  ul.topnav li.right {
    float: right; }
  ul.topnav .topnav-content li a, ul.topnav .topnav-content li button {
    display: block;
    color: white;
    text-align: left;
    padding: 16px 23px;
    border-right: 2px #222222;
    text-decoration: none;
    font-family: 'Merriweather','Roboto Slab', ".SF NS Display", serif;
    font-size: 1em;
    background-color: #1662a2; }

.collapsible {
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px; }

.content {
  max-height: 0;
  overflow: hidden;
  background-color: #f1f1f1;
  -webkit-transition: max-height 0.2s ease-out;
  -o-transition: max-height 0.2s ease-out;
  -moz-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out; }

.top-button {
  height: 0px; }

.menu-button {
  display: none;
  cursor: pointer;
  background-color: #2d9dfa;
  float: right;
  margin: 7px 7px;
  height: 40px;
  z-index: 4000;
  -webkit-box-shadow: 1px 1px 8px 1px rgba(32, 64, 92, 0.41);
  -moz-box-shadow: 1px 1px 8px 1px rgba(32, 64, 92, 0.41);
  box-shadow: 1px 1px 8px 1px rgba(32, 64, 92, 0.41); }

.bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 1px;
  margin: 5.5px 5.5px;
  border: 2px solid #ffffff !important;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  -webkit-box-shadow: 10px 9px 21px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 9px 21px -11px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 9px 21px -11px rgba(0, 0, 0, 0.75);
  background: white; }

.change .bar1 {
  -moz-transform: rotate(-45deg) translate(-9px, 6px);
  -o-transform: rotate(-45deg) translate(-9px, 6px);
  -ms-transform: rotate(-45deg) translate(-9px, 6px);
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px); }

.change .bar2 {
  opacity: 0; }

.change .bar3 {
  -moz-transform: rotate(45deg) translate(-8px, -8px);
  -o-transform: rotate(45deg) translate(-8px, -8px);
  -ms-transform: rotate(45deg) translate(-8px, -8px);
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px); }

.nav-appear {
  display: block !important;
  -webkit-animation: appear 0.5s normal 1;
  -moz-animation: appear 0.5s normal 1;
  -o-animation: appear 0.5s normal 1;
  animation: appear 0.5s normal 1; }

@-webkit-keyframes appear {
  from {
    opacity: 0.4;
    -moz-transform: translateX(25px);
    -o-transform: translateX(25px);
    -ms-transform: translateX(25px);
    -webkit-transform: translateX(25px);
    transform: translateX(25px); }
  to {
    opacity: 0.95;
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px); } }

@-moz-keyframes appear {
  from {
    opacity: 0.4;
    -moz-transform: translateX(25px);
    -o-transform: translateX(25px);
    -ms-transform: translateX(25px);
    -webkit-transform: translateX(25px);
    transform: translateX(25px); }
  to {
    opacity: 0.95;
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px); } }

@-ms-keyframes appear {
  .nav-appear from {
    opacity: 0.4;
    -moz-transform: translateX(25px);
    -o-transform: translateX(25px);
    -ms-transform: translateX(25px);
    -webkit-transform: translateX(25px);
    transform: translateX(25px); }
  .nav-appear to {
    opacity: 0.95;
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px); } }

@-o-keyframes appear {
  from {
    opacity: 0.4;
    -moz-transform: translateX(25px);
    -o-transform: translateX(25px);
    -ms-transform: translateX(25px);
    -webkit-transform: translateX(25px);
    transform: translateX(25px); }
  to {
    opacity: 0.95;
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px); } }

@keyframes appear {
  from {
    opacity: 0.4;
    -moz-transform: translateX(25px);
    -o-transform: translateX(25px);
    -ms-transform: translateX(25px);
    -webkit-transform: translateX(25px);
    transform: translateX(25px); }
  to {
    opacity: 0.95;
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px); } }

.arrow-turn-down {
  -webkit-animation: turn-down-arrow 0.5s;
  -moz-animation: turn-down-arrow 0.5s;
  -o-animation: turn-down-arrow 0.5s;
  animation: turn-down-arrow 0.5s;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

@-webkit-keyframes turn-down-arrow {
  from {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -moz-transform: rotate(-315deg);
    -o-transform: rotate(-315deg);
    -ms-transform: rotate(-315deg);
    -webkit-transform: rotate(-315deg);
    transform: rotate(-315deg); } }

@-moz-keyframes turn-down-arrow {
  from {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -moz-transform: rotate(-315deg);
    -o-transform: rotate(-315deg);
    -ms-transform: rotate(-315deg);
    -webkit-transform: rotate(-315deg);
    transform: rotate(-315deg); } }

@-ms-keyframes turn-down-arrow {
  .arrow-turn-down from {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  .arrow-turn-down to {
    -moz-transform: rotate(-315deg);
    -o-transform: rotate(-315deg);
    -ms-transform: rotate(-315deg);
    -webkit-transform: rotate(-315deg);
    transform: rotate(-315deg); } }

@-o-keyframes turn-down-arrow {
  from {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -moz-transform: rotate(-315deg);
    -o-transform: rotate(-315deg);
    -ms-transform: rotate(-315deg);
    -webkit-transform: rotate(-315deg);
    transform: rotate(-315deg); } }

@keyframes turn-down-arrow {
  from {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -moz-transform: rotate(-315deg);
    -o-transform: rotate(-315deg);
    -ms-transform: rotate(-315deg);
    -webkit-transform: rotate(-315deg);
    transform: rotate(-315deg); } }

@media screen and (min-width: 1100px) {
  ul.topnav {
    height: 3.6em;
    border-left: #95b9d3 10px solid !important; }
    ul.topnav li > a, ul.topnav li button {
      border-radius: 30px 30px 5px 5px;
      -moz-border-radius: 30px 30px 5px 5px;
      -webkit-border-radius: 30px 30px 5px 5px;
      height: 3.6em;
      padding-left: 10px !important;
      border: none; }
      ul.topnav li > a:hover, ul.topnav li button:hover {
        background-color: #0d4676; }
    ul.topnav .dropdown-content {
      display: flex;
      position: absolute;
      top: 3.5em;
      background-color: rgba(0, 0, 0, 0);
      height: auto;
      z-index: 10000;
      -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); }
      ul.topnav .dropdown-content > a {
        height: 10em;
        background-color: rgba(35, 95, 149, 0.75) !important;
        font-size: 0.9em !important; }
        ul.topnav .dropdown-content > a:hover {
          background-color: rgba(35, 86, 134, 0.8) !important; }
        ul.topnav .dropdown-content > a:not(:first-child) {
          border-left: 2px solid #084587;
          padding: 20px;
          text-decoration: none;
          display: inline; } }

@media screen and (max-width: 1100px) {
  ul.topnav {
    overflow: visible !important;
    height: 0 !important;
    margin: 0 !important;
    position: fixed;
    top: 0;
    z-index: 1000; }
    ul.topnav li.right, ul.topnav li {
      float: none;
      text-align: center; }
      ul.topnav li.right > a, ul.topnav li.right button, ul.topnav li > a, ul.topnav li button {
        text-align: left;
        background-color: #156aa8;
        opacity: 0.95;
        font-size: 15px !important;
        font-weight: normal !important;
        -webkit-box-shadow: inset 0px -0.2px 0.7px 0px #839ec1;
        -moz-box-shadow: inset 0px -0.2px 0.7px 0px #839ec1;
        box-shadow: inset 0px -0.2px 0.7px 0px #839ec1; }
      ul.topnav li.right .dropdown-content, ul.topnav li .dropdown-content {
        border-radius: 15px 15px 15px 15px;
        -moz-border-radius: 15px 15px 15px 15px;
        -webkit-border-radius: 15px 15px 15px 15px; }
        ul.topnav li.right .dropdown-content > a, ul.topnav li .dropdown-content > a {
          text-align: center !important;
          font-size: 0.9em !important;
          background-color: #123e61;
          max-height: 200px !important; }
          ul.topnav li.right .dropdown-content > a:not(:last-child), ul.topnav li .dropdown-content > a:not(:last-child) {
            border-bottom: 0.5px solid #0a4576; }
  .topnav-content {
    display: none;
    position: fixed;
    right: 0vh;
    overflow-y: scroll;
    height: 100vh;
    width: 100vw;
    float: right;
    background-color: rgba(129, 132, 134, 0.65); }
    .topnav-content > li:first-child {
      margin-top: 50px; }
    .topnav-content > li > a, .topnav-content > li button {
      margin-top: 1px;
      border-radius: 15px 15px 15px 15px;
      -moz-border-radius: 15px 15px 15px 15px;
      -webkit-border-radius: 15px 15px 15px 15px;
      text-align: center !important;
      width: 100vw; }
  .menu-button {
    display: block !important;
    position: fixed;
    right: 5px; }
  .top-button {
    max-height: 0; }
  a.nav-link {
    padding-left: 40px !important;
    font-size: 1.1em !important; } }

.block {
  display: block; }

.swan-lake-flex {
  display: flex;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }

@media screen and (max-width: 1500px) {
  .flex {
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 100vh; } }
