@import url('https://fonts.googleapis.com/css?family=Merriweather|PT+Sans|Roboto+Slab')
@import mixin_custom_funct

//*--------------------------------------------------------------
// Navigation Bar
//--------------------------------------------------------------*/
$content-bg: rgba(177, 111, 130, 0.75)
$content-bg-hover: rgba(189, 77, 109, 0.75)
$begin-degree: 0deg
$after-degree: -315deg
$medium-pink: rgb(177, 111, 130)
$super-pink: rgb(146, 45, 74)
$super-pink-faded: rgba(146, 45, 74, 0.86)

i
  border: solid rgb(191, 147, 160)
  border-width: 0 4px 4px 0
  display: inline-block
  padding: 3.2px
  margin-left: 4px
.point-right
  @include transform(rotate(-45deg))

ul.topnav
  list-style-type: none
  margin: 0
  padding: 0
  overflow: visible
  display: block
  height: 3.4em
  background-color: $medium-pink
  position: sticky
  top: 0px
  z-index: 1000
  @include box-shadow(0px 2px 8px 2px rgba(154, 152, 152, 0.3))
  li
    float: left
  li.right
    float: right
  .topnav-content
    li
      a, button
        display: block
        color: white
        text-align: left
        padding: 16px 23px
        border-right: 2px #222222
        text-decoration: none
        font-family:  'Merriweather','Roboto Slab', ".SF NS Display", serif
        font-size: 1em
        background-color: $medium-pink

//***************COLLAPSIBLE CONTENTS
// .collapsible
//   color: white
//   cursor: pointer
//   padding: 18px
//   width: 100%
//   border: none
//   text-align: left
//   outline: none
//   font-size: 15px

// .content
//   max-height: 0
//   overflow: hidden
//   background-color: #f1f1f1


//*********** Menu Button (Hamburger button)
.top-button
  height: 0px

.menu-button
  display: none
  cursor: pointer
  background-color: $super-pink
  float: right
  margin: 7px 7px
  height: 40px
  z-index: 4000
  @include box-shadow(1px 1px 8px 1px rgba(32, 64, 92, 0.41))

.bar1,
.bar2,
.bar3
  width: 25px
  height: 1px
  margin: 5.5px 5.5px
  border: 2px solid #ffffff !important
  @include transition(0.4s)
  @include border-radius(200px 200px 200px 200px)
  @include box-shadow(10px 9px 21px -11px rgba(0,0,0,0.75))
  background: white

.change .bar1
  @include transform(rotate(-45deg) translate(-9px, 6px))

.change .bar2
  opacity: 0

.change .bar3
  @include transform(rotate(45deg) translate(-8px, -8px))

//*************** Make the navigation tabs appear after clicking the hamburger button
.nav-appear
  display: block !important
  @include keyframes(appear)
    from
      opacity: 0.4
      @include transform(translateX(25px))

    to
      opacity: 0.95
      @include transform(translateX(0px))
  @include animation(appear 0.5s normal 1)

.arrow-turn-down
  @include keyframes(turn-down-arrow)
    from
      @include transform(rotate($begin-degree))
    to
      @include transform(rotate($after-degree))
  @include animation(turn-down-arrow 0.5s)
  @include transform(rotate(45deg))

//************* Make the drop box appear
.dropdown-block-appear-transition
    @include keyframes(dropdown-block-appear)
      from
        opacity: 0.4
        @include transform(translateY(-15px))

      to
        opacity: 0.95
        @include transform(translateY(0px))
    @include animation(dropdown-block-appear 0.5s normal 1)

///*--------------------------------------------------------------
// Big Screen
//--------------------------------------------------------------*/

//******************* Media Queries
@media screen and (min-width: 1100px)
  ul.topnav
    height: 3.4em
    // border-left: #95b9d3 10px solid !important
    li
      > a, button
        @include border-radius(30px 30px 5px 5px )
        padding-left:  10px !important
        &:hover
          background-color: $super-pink-faded
        border: none

    .dropdown-content
      display: flex
      position: absolute
      top: 3.4em
      background-color: rgba(0,0,0,0)
      height: auto
      z-index: 10000
      @include box-shadow(0px 8px 16px 0px rgba(0,0,0,0.2))
      > a
        height: 7em
        background-color: $content-bg !important
        font-size: 1em !important
        padding-top: 2em !important
        &:hover
          background-color: $content-bg-hover !important
        &:not(:first-child)
          border-left: 2px solid $super-pink
          text-decoration: none
          display: inline


//--------------------------------------------------------------
// Small Screen
//--------------------------------------------------------------
@media screen and (max-width: 1100px)
  ul.topnav
    overflow: visible !important
    height: 0 !important
    margin: 0 !important
    position: fixed
    top: 0
    z-index: 1000
    li.right, li
      float: none
      width: 100vw
      text-align: center
      > a, button
        text-align: left
        background-color: $super-pink
        opacity: 0.95
        font-size: 15px !important
        font-weight: normal !important
        @include box-shadow(inset 0px -0.2px 0.7px 0px #839ec1)
      > a
        width: auto
      .dropdown-content
        @include border-radius(15px 15px 15px 15px)
        > a
          text-align: center !important
          font-size: 0.9em !important
          background-color: $super-pink
          //opacity: 0.96
          &:not(:last-child)
            border-bottom: 0.5px solid $super-pink


  // don't display the content until click the hamburger button
  .topnav-content
    display: none
    position: fixed
    right: 0vh
    overflow-y: scroll
    height: 100vh
    width: 100vw
    float: right
    background-color: rgba(129, 132, 134, 0.65)
    >li:first-child
      margin-top: 50px
    > li
      > a, button
        margin-top: 1px
        @include border-radius(15px 15px 15px 15px)
        text-align: center !important
        width: 100vw
  // hamburger button
  .menu-button
    display: block !important
    position: fixed
    right: 5px

  .top-button
    max-height: 0

  a.nav-link
    padding-left: 40px !important
    font-size: 1.1em !important
