import React from 'react';
export function Footer()
  return pug'
    .footer
      p &copy; 2018 &middot; Huy Phat Vu &middot; All Rights Reserved.</p>

export default Footer

//-
  import React from 'react';
  // import { FormattedMessage } from 'react-intl';
  // import {Fiber} from 'fibers'
  // Import Style

  // Import Images
  // import bg from '../../header-bk.png';

  export function Footer() {
    return (
      <div class="footer" >
        <p>&copy; 2018 &middot; Huy Phat Vu &middot; All Rights Reserved.</p>
      </div>
    );
  }

  export default Footer;
